<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/CSE/SQA/Web Automation Projects/Wafilife/src/test/java/testcases" parallel="true">
        <classes>

            <class name="testcases.TestHomePage">
                <methods>
                    <exclude name="TestTitle"/>
                    <exclude name="TestSignupButton"/>
                </methods>
            </class>
            <class name="testcases.TestLoginPage">
                <methods>
                    <exclude name="TestLoginWithValidCredentials"/>
                    <exclude name="TestLoginWithInvalidCredentialsWithDataDriven"/>
                </methods>
            </class>
            <class name="testcases.TestActions">
                <methods>
                    <include name="testDiffActions"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>